.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: floatUp 0.4s ease;
}

.hero_img{
    display: inline;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit:cover;
    animation: floatUp 0.4s ease;
}

.hero_title{
    font-size: var(--size-7xl);
    font-weight:800;
    animation: floatUp 0.5s ease;
}


strong{
    color: var(--SecAccent);
    font-size: var(--size-lg);
}


@keyframes floatUp {
    from{
        transform: translateY(100px);
        opacity: 0;
    }

    to{
        transform: translateY(0px);
        opacity: 1;
    }
} 